$globalmargin:20px 20px 20px 20px;
$insideTextMargin: 0 0 0 20px;

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin:0;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    width:100vw;
    height:auto;
    background-color: rgb(5, 32, 26);

    label {
        align-self: flex-start;
        margin:$globalmargin;
        margin-left:10%;
        opacity:0.8;
        color:white;
        font-size:0.8em;
        font-weight:600;
    }

    #SearchBar {
        width:80%;
        height:35px;
        background-color: transparent;
        border:4px transparent solid;
        border-bottom: 2px white solid;
        opacity:0.8;
        &:focus {
            border:none;
            outline: none;
        }
    }
    .container {
        width:100%;
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top:20px;

        .card {
            max-width:500px;
            min-width:200px;
            margin:$globalmargin;
            display:grid;
            color:palegoldenrod;
            line-height: 20px;
            grid-template-columns: 3fr 3fr;
            grid-template-rows:3fr 1fr;
            grid-template-areas: "image title"
            "image date";
            padding:20px;
            transition:0.1s;
            border-bottom:3px transparent solid;
            &:hover {
                border-bottom:3px rgb(123, 105, 156) solid;
            }

            #imageContainer {
                width: 150px;
                height:150px;
                border-radius:50%;
                overflow:hidden;
                grid-area: image;
                img {
                    width:300px;
                }
            }
            a {
                text-decoration: none;
                color:white;
                &:hover {
                    cursor: pointer;
                }
            }
            h1 {
                grid-area: title;
                font-size:0.8em;
                margin:$insideTextMargin;
                margin-top:10px;
            }
            #authorWithDate {
                grid-area: date;
                font-size:0.8em;
                margin:$insideTextMargin;
            }
            #readMore {
                font-style: italic;
            }
            .description {
                display:none;
                position: absolute;
                max-width:500px;
                min-width:200px;
                height:100%;
                background-color:black;
                padding:$insideTextMargin;
            }
            .displayDesc {
                display:block;
            }
        }
    }
    footer {
        width:80%;
        bottom: 20px;
        padding:$globalmargin;
        font-size:0.8em;
    }
}


@media only screen and (min-width:800px) {
    .card {
        width:400px;
    }
}
